In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\home\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\home\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\home\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\home\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
import pandas as pd

In [25]:
import numpy as np
dataset = np.array([['kor',70],['math',80]])
df = pd.DataFrame(dataset, columns=['class','score'])
df = pd.DataFrame(data=[['kor',70],['math',80]],columns=['class','score'])
df = pd.DataFrame({'class' :['kor','math'], 'score' : [70,80]})
df

  class  score
0   kor     70
1  math     80

In [12]:
pd.Series({'idx 1' : 89, 'idx 2' : 84},name = 'class')

idx 1    89
idx 2    84
Name: class, dtype: int64