In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import re
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('C:\data\CardData_new.csv', encoding='cp949')
df.head()

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속

In [3]:
df['고객구분'].value_counts()

21.Active_연속    222863
22.Active_간헐     29035
34.휴면_9M+        26974
32.휴면_6M-         8951
33.휴면_9M-         7638
31.휴면_3M          4539
Name: 고객구분, dtype: int64

In [11]:
df[['고객구분','이용후경과월_신용']].value_counts()

고객구분          이용후경과월_신용
21.Active_연속  0            222863
34.휴면_9M+     12            23562
22.Active_간헐  0             14645
              1              8844
              2              5546
31.휴면_3M      3              4539
32.휴면_6M-     4              3309
              5              2951
              6              2691
33.휴면_9M-     7              2394
              8              2038
              9              1832
34.휴면_9M+     10             1787
              11             1625
33.휴면_9M-     12             1370
              10                3
              11                1
dtype: int64

In [19]:
count = len(df[(df['고객구분'] == '휴면_9M+') & (df['이용후경과월_신용'] == 10)])

# 개수 출력
print(count)

0

In [26]:
count = len(df[df['입회경과개월수_신용']<=12])

# 개수 출력
print(count)

27075

In [27]:
count = len(df[(df['입회경과개월수_신용'] <= 12) & (df['연령'] <= 40)])

# 개수 출력
print(count)

9506