In [2]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import re
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [8]:
df = pd.read_csv('C:/data/CardCategory.csv', encoding='euc-kr')
df.head()

   _1순위카드ID 서비스업종코드   서비스코드명
0         1     209  온라인쇼핑할인
1         1     201    주유 할인
2         1     204   놀이공원할인
3         1     211    아파트할인
4         1     209  온라인쇼핑할인

In [17]:
df[df['_1순위카드ID'] == 156]['서비스코드명'].value_counts()

플래티늄서비스     18
통신할인         8
주유 할인        6
유통/마트 할인     5
자동차할인        4
문화생활할인       3
커피할인         2
교육관련할인       2
교통할인         2
외식할인         2
기타           2
전가맹점할인       1
Name: 서비스코드명, dtype: int64

In [18]:
df[df['_1순위카드ID'] == 136]['서비스코드명'].value_counts()

놀이공원할인      104
외식할인         59
자동차할인        48
주유 할인        26
커피할인         25
문화생활할인       17
통신할인         17
교통할인         17
기타            9
_             6
유통/마트 할인      6
온라인쇼핑할인       4
Name: 서비스코드명, dtype: int64

In [19]:
df[df['_1순위카드ID'] == 229]['서비스코드명'].value_counts()

통신할인       12
자동차할인       4
외식할인        3
놀이공원할인      3
기타          2
커피할인        2
주유 할인       2
문화생활할인      1
교통할인        1
온라인쇼핑할인     1
Name: 서비스코드명, dtype: int64

In [20]:
df[df['_1순위카드ID'] == 1077]['서비스코드명'].value_counts()

기타 원금할인    2
교육관련할인     1
커피할인       1
온라인쇼핑할인    1
Name: 서비스코드명, dtype: int64