In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

if os.name == 'posix':
    plt.rc("font", family="AppleGothic")
else:
    plt.rc("font", family="Malgun Gothic")

In [3]:
df=pd.read_csv(r"C:\Users\User\Desktop\HANACARD\CardData_new.csv",encoding='cp949')
df

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,Gso9Jlid,2,47,1,20170630,18,0,0,0,0,...,3,3,2,9,5,5,16,0,0,21.Active_연속
299996,EDQYlTTX,2,69,1,20150417,45,0,0,0,0,...,2,2,2,1,0,0,0,12,12,22.Active_간헐
299997,82GwFS1D,1,36,1,20120608,79,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299998,LUYeNjki,1,48,1,20120508,80,1,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299999,bnKXePYO,2,36,1,20180222,11,1,0,0,0,...,20,20,5,0,1,1,0,6,12,21.Active_연속

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
남녀구분코드,300000.0,1.473560e+00,0.499301,1.0,1.0,1.0,2.0,2.0
연령,300000.0,4.621211e+01,12.087588,19.0,37.0,46.0,54.0,98.0
소지여부_신용,300000.0,9.797400e-01,0.140889,0.0,1.0,1.0,1.0,1.0
입회일자_신용,300000.0,2.011614e+07,74549.268116,10101.0,20090128.0,20140106.0,20170227.0,20180629.0
입회경과개월수_신용,300000.0,8.397931e+01,77.670840,0.0,23.0,60.0,120.0,443.0
...,...,...,...,...,...,...,...,...
보험콜대상월수_R12M,300000.0,1.129337e+00,1.701430,0.0,0.0,0.0,2.0,7.0
보험콜대상횟수_R12M,300000.0,1.131863e+00,1.705944,0.0,0.0,0.0,2.0,7.0
보험콜통화횟수_R12M,300000.0,2.635803e+00,4.848282,0.0,0.0,0.0,4.0,568.0
보험콜배정후경과월_R12M,300000.0,8.231353e+00,4.955658,0.0,2.0,12.0,12.0,12.0
보험콜통화후경과월_R12M,300000.0,8.275930e+00,4.949356,0.0,2.0,12.0,12.0,12.0