In [2]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
plt.rc("font", family="Malgun Gothic")

In [4]:
df = pd.read_csv(r'C:\Users\User\Desktop\DigitalHana_Project2\Data\HanaCard_Data.csv', encoding = 'cp949')
df.head()

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속

In [5]:
df.shape
# 데이터 갯수 : 300000개
# Column 갯수 : 302개
# Key 데이터 : 회원번호, Target 데이터 : 탈회여부

(300000, 302)

In [6]:
# Column들의 종류를 나누기
# '거주시도명', '거주시군구명', '직장시도명', '직장시군구명'의 경우는 비식별화 처리가 되어서 사용이 어렵기 때문에 제외
# 특이사항1 Column : '회원번호'(개인 구분용), '입회일자_신용'(날짜데이터)
# 특이사항2 Column : '납부_렌탈료이용금액', '컨택건수_CA_TM_B0M', '컨택건수_CA_EM_B0M', '컨택건수_리볼빙_EM_B0M', '컨택건수_리볼빙_청구서_B0M', '컨택건수_카드론_인터넷_B0M', '컨택건수_CA_인터넷_B0M', '컨택건수_리볼빙_인터넷_B0M', '컨택건수_CA_EM_R6M', '컨택건수_리볼빙_EM_R6M', '컨택건수_리볼빙_청구서_R6M', '컨택건수_카드론_인터넷_R6M', '컨택건수_CA_인터넷_R6M', '컨택건수_리볼빙_인터넷_R6M' -> 30만개 모든 값이 0
numeric_discrete = ['연령', '입회경과개월수_신용', '탈회횟수_누적', '탈회횟수_발급1년이내', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_체크', '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액_R3M_체크', '_1순위카드이용금액', '_1순위카드이용건수', '기본연회비_B0M', '카드이용한도금액', '이용건수_신용_B0M', '이용건수_신판_B0M', '이용건수_일시불_B0M', '이용건수_할부_B0M', '이용건수_할부_유이자_B0M', '이용건수_할부_무이자_B0M', '이용건수_부분무이자_B0M', '이용건수_CA_B0M', '이용건수_체크_B0M', '이용건수_카드론_B0M', '이용금액_신용_B0M', '이용금액_신판_B0M', '이용금액_일시불_B0M', '이용금액_할부_B0M', '이용금액_할부_유이자_B0M', '이용금액_할부_무이자_B0M', '이용금액_부분무이자_B0M', '이용금액_CA_B0M', '이용금액_체크_B0M', '이용금액_카드론_B0M', '이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론', '이용건수_신용_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M', '이용건수_할부_R12M', '이용건수_할부_유이자_R12M', '이용건수_할부_무이자_R12M', '이용건수_부분무이자_R12M', '이용건수_CA_R12M', '이용건수_체크_R12M', '이용건수_카드론_R12M', '이용금액_신용_R12M', '이용금액_신판_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_할부_유이자_R12M', '이용금액_할부_무이자_R12M', '이용금액_부분무이자_R12M', '이용금액_CA_R12M', '이용금액_체크_R12M', '이용금액_카드론_R12M', '이용개월수_신용_R12M', '이용개월수_신판_R12M', '이용개월수_일시불_R12M', '이용개월수_할부_R12M', '이용개월수_할부_유이자_R12M', '이용개월수_할부_무이자_R12M', '이용개월수_부분무이자_R12M', '이용개월수_CA_R12M', '이용개월수_체크_R12M', '이용개월수_카드론_R12M', '이용건수_신용_R6M', '이용건수_신판_R6M', '이용건수_일시불_R6M', '이용건수_할부_R6M', '이용건수_할부_유이자_R6M', '이용건수_할부_무이자_R6M', '이용건수_CA_R6M', '이용건수_체크_R6M', '이용건수_카드론_R6M', '이용금액_신용_R6M', '이용금액_신판_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_할부_유이자_R6M', '이용금액_할부_무이자_R6M', '이용금액_부분무이자_R6M', '이용금액_CA_R6M', '이용금액_체크_R6M', '이용금액_카드론_R6M', '이용개월수_신용_R6M', '이용개월수_신판_R6M', '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_할부_유이자_R6M', '이용개월수_할부_무이자_R6M', '이용개월수_부분무이자_R6M', '이용개월수_CA_R6M', '이용개월수_체크_R6M', '이용개월수_카드론_R6M', '이용건수_신용_R3M', '이용건수_신판_R3M', '이용건수_일시불_R3M', '이용건수_할부_R3M', '이용건수_할부_유이자_R3M', '이용건수_할부_무이자_R3M', '이용건수_부분무이자_R3M', '이용건수_CA_R3M', '이용건수_체크_R3M', '이용건수_카드론_R3M', '이용금액_신용_R3M', '이용금액_신판_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M', '이용금액_할부_유이자_R3M', '이용금액_할부_무이자_R3M', '이용금액_부분무이자_R3M', '이용금액_CA_R3M', '이용금액_체크_R3M', '이용금액_카드론_R3M', '이용개월수_신용_R3M', '이용개월수_신판_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_할부_유이자_R3M', '이용개월수_할부_무이자_R3M', '이용개월수_부분무이자_R3M', '이용개월수_CA_R3M', '이용개월수_체크_R3M', '이용개월수_카드론_R3M', '이용가맹점수', '이용금액_업종기준', '이용금액_쇼핑', '이용금액_요식', '이용금액_교통', '이용금액_의료', '이용금액_납부', '이용금액_교육', '이용금액_여유생활', '이용금액_사교활동', '이용금액_일상생활', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '쇼핑_전체_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '교통_전체이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '여유_전체이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '납부_전체이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', 'RP건수_B0M', 'RP금액_B0M', '증감_RP건수_전월', '증감_RP유형건수_전월', '이용개월수_온라인_R6M', '이용개월수_오프라인_R6M', '이용건수_오프라인_R6M', '이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용개월수_페이_온라인_R6M', '이용개월수_페이_오프라인_R6M', '이용금액_페이_온라인_R6M', '이용건수_페이_온라인_R6M', '이용건수_페이_오프라인_R6M', '이용건수_페이_오프라인_R3M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M', '이용개월수_간편결제_R6M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '청구금액_B0', '청구금액_R3M', '청구금액_R6M', '할인건수_R3M', '할인금액_R3M', '할인건수_B0M', '할인금액_B0M', '상환개월수_R12M', '상환개월수_결제일_R12M', '상환개월수_결제일_R6M', '상환개월수_결제일_R3M', '연체건수_R12M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액', '컨택건수_카드론_TM_B0M', '컨택건수_리볼빙_TM_B0M', '컨택건수_이용유도_TM_B0M', '컨택건수_신용발급_TM_B0M', '컨택건수_부대서비스_TM_B0M', '컨택건수_포인트소진_TM_B0M', '컨택건수_보험_TM_B0M', '컨택건수_카드론_LMS_B0M', '컨택건수_CA_LMS_B0M', '컨택건수_리볼빙_LMS_B0M', '컨택건수_이용유도_LMS_B0M', '컨택건수_카드론_EM_B0M', '컨택건수_이용유도_EM_B0M', '컨택건수_카드론_청구서_B0M', '컨택건수_CA_청구서_B0M', '컨택건수_이용유도_청구서_B0M', '컨택건수_이용유도_인터넷_B0M', '컨택건수_카드론_TM_R6M', '컨택건수_리볼빙_TM_R6M', '컨택건수_CA_TM_R6M', '컨택건수_이용유도_TM_R6M', '컨택건수_신용발급_TM_R6M', '컨택건수_부대서비스_TM_R6M', '컨택건수_포인트소진_TM_R6M', '컨택건수_보험_TM_R6M', '컨택건수_카드론_LMS_R6M', '컨택건수_CA_LMS_R6M', '컨택건수_리볼빙_LMS_R6M', '컨택건수_이용유도_LMS_R6M', '컨택건수_카드론_EM_R6M', '컨택건수_이용유도_EM_R6M', '컨택건수_카드론_청구서_R6M', '컨택건수_CA_청구서_R6M', '컨택건수_이용유도_청구서_R6M', '컨택건수_채권_B0M', '컨택건수_FDS_B0M', '컨택건수_채권_R6M', '컨택건수_FDS_R6M', '캠페인접촉건수_R12M', '캠페인접촉일수_R12M', '캠페인접촉월수_R12M', '접촉후경과월_R12M', '보험콜대상월수_R12M', '보험콜대상횟수_R12M', '보험콜통화횟수_R12M', '보험콜배정후경과월_R12M', '보험콜통화후경과월_R12M']
numeric_continuos = []
categorical_order = ['Life_Stage', '이용금액대']
categorical_nonorder = ['남녀구분코드', '소지여부_신용', '탈회여부', '회원여부_연체', '수신거부여부_TM', '수신거부여부_DM', '수신거부여부_메일', '수신거부여부_SMS', '자격기준', '자격구분상세', '연회비청구구분_B0M', 'BL여부_R12M', '마케팅동의여부', '_1순위카드ID', '_1순위신용체크구분', '고객구분']

In [7]:
# 활용할 수 없는 Column들을 삭제
df.drop(columns = ['거주시도명', '거주시군구명', '직장시도명', '직장시군구명', '납부_렌탈료이용금액', '컨택건수_CA_TM_B0M', '컨택건수_CA_EM_B0M', '컨택건수_리볼빙_EM_B0M', '컨택건수_리볼빙_청구서_B0M', '컨택건수_카드론_인터넷_B0M', '컨택건수_CA_인터넷_B0M', '컨택건수_리볼빙_인터넷_B0M', '컨택건수_CA_EM_R6M', '컨택건수_리볼빙_EM_R6M', '컨택건수_리볼빙_청구서_R6M', '컨택건수_카드론_인터넷_R6M', '컨택건수_CA_인터넷_R6M', '컨택건수_리볼빙_인터넷_R6M'], inplace = True)

In [8]:
df['Life_Stage'] = df['Life_Stage'].map(lambda x : int(x[0]))
df['이용금액대'] = df['이용금액대'].map(lambda x : {9 : 0, 5 : 1, 4 : 2, 3 : 3, 2 : 4, 1 : 5}[int(x[:2])])

In [9]:
df[df.columns[df.dtypes == np.int64]] = df[df.columns[df.dtypes == np.int64]].astype(np.int32)

# 신용카드 추천 시스템

In [10]:
# 그룹화 시킬 기준
# 그룹화 시킬 수 있는 전체 기준 : ['회원번호', '자격기준', '자격구분상세', '연회비청구구분_B0M', '_1순위신용체크구분', 'Life_Stage', '이용금액대', '고객구분', 남녀구분코드, 소지여부_신용, 회원여부_연체, 수신거부여부_TM, 수신거부여부_DM, 수신거부여부_메일, 수신거부여부_SNS, BL여부_R12M, 마케팅동의여부, _1순위카드ID]
# 그룹화 시킬 수 있는 전체 기준 : 남녀구분코드, 소지여부_신용, 회원여부_연체, 수신거부여부_TM, 수신거부여부_DM, 수신거부여부_메일, 수신거부여부_SNS, BL여부_R12M, 마케팅동의여부, _1순위카드ID
# 확실한 것들 : 남녀구분코드, 연령 or Life_Stage, 이용금액대, 연회비청구구분_B0M, 소지여부_신용, 회원여부_연체, BL여부_R12M
# 애매한 것들 : 자격구분상세(?)

In [11]:
# '남녀구분코드', 'Life_Stage', '이용금액대', '연회비청구구분_B0M', '소지여부_신용', '회원여부_연체', 'BL여부_R12M', '자격구분상세'으로 그룹화했을 때 총 몇 개의 그룹이 나오는지 확인
len(df.groupby(by = ['남녀구분코드', 'Life_Stage', '이용금액대', '연회비청구구분_B0M', '소지여부_신용', '회원여부_연체', 'BL여부_R12M', '자격구분상세']))

9844

In [12]:
# 그룹중에 갯수가 0개인 것을 확인
for group_name, group in df.groupby(by = ['남녀구분코드', 'Life_Stage', '이용금액대', '연회비청구구분_B0M', '소지여부_신용', '회원여부_연체', 'BL여부_R12M', '자격구분상세']):
    if len(group) == 0:
        print(group_name)

## 1. 고객 프로파일

In [13]:
# 1. 소비패턴 프로파일(user profile for consumption pattern, UPC)
# '이용금액_업종기준', '쇼핑_도소매_이용금액', '쇼핑_전체_이용금액', '이용금액_쇼핑', '교통_전체이용금액', '이용금액_교통', '여유_전체이용금액', '이용금액_여유생활'
# '이용금액_요식', '이용금액_의료', '이용금액_납부', '이용금액_교육', '이용금액_사교활동', '이용금액_일상생활', '이용금액_해외', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액'
# 2. 거래성향 프로파일(user profile for propensity to trade, UPP)
# (+?) 할부 여부, 카드론 사용 여부 등
# 연회비청구구분_B0M’, ‘소지여부_신용’, ‘회원여부_연체’, ‘BL여부_R12M’
# 3. 인구통계학 프로파일(user profile for demographics, UPD)
# '남녀구분코드', '연령', '자격구분상세'
# 4. 거래방법 프로파일(user profile for trading method, UPT)
# (+?) 온라인 , 오프라인 결제 건수 등
# 5. 마케팅 프로파일(user profile for marketing, UPM)

In [16]:
# 5개의 프로파일에 해당하는 변수들 구분
# profile1 = ['이용금액_요식', '이용금액_의료', '이용금액_납부', '이용금액_교육', '이용금액_사교활동', '이용금액_일상생활', '이용금액_해외', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', 'RP금액_B0M']
# profile2 = ['연회비청구구분_B0M', '소지여부_신용', '회원여부_연체', 'BL여부_R12M', '카드이용한도금액', '이용가맹점수', '이용금액_업종기준', '이용금액대', '혜택수혜금액', 'Life_Stage', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M']
# profile3 = ['남녀구분코드', '연령', '자격구분상세']
# profile4 = []
# profile5 = []

profile1 = ['쇼핑_도소매_이용금액','쇼핑_백화점_이용금액' , '쇼핑_마트_이용금액',  '쇼핑_슈퍼마켓_이용금액' ,'쇼핑_편의점_이용금액' , '쇼핑_아울렛_이용금액' , '쇼핑_온라인_이용금액' , 
'쇼핑_기타_이용금액' ,   '교통_주유이용금액' ,'교통_정비이용금액' ,'교통_통행료이용금액' ,'교통_버스지하철이용금액'  ,'교통_택시이용금액' ,
'교통_철도버스이용금액' ,'여유_운동이용금액', '여유_Pet이용금액' , '여유_공연이용금액' ,'여유_공원이용금액' ,'여유_숙박이용금액' ,
'여유_여행이용금액' ,'여유_항공이용금액' ,'여유_기타이용금액' , '납부_통신비이용금액' ,'납부_관리비이용금액' ,
'납부_가스전기료이용금액'  ,'납부_보험료이용금액' ,'납부_유선방송이용금액' ,'납부_건강연금이용금액' ,'납부_기타이용금액' ,'이용금액_요식',  '이용금액_의료',  
 '이용금액_교육' ,'이용금액_사교활동', '이용금액_일상생활' ,'이용금액_해외']
profile2 = ['이용건수_일시불_R12M','이용건수_할부_유이자_R12M'  ,'이용건수_할부_무이자_R12M'  ,'이용건수_부분무이자_R12M' ,
'이용건수_CA_R12M'  ,'이용건수_체크_R12M' , '이용건수_카드론_R12M']
profile3 = ['남녀구분코드', '연령', '자격구분상세']
profile4 = ['이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M']
profile5 = ['마케팅동의여부','수신거부여부_TM','수신거부여부_DM','수신거부여부_메일','수신거부여부_SMS','컨택건수_카드론_TM_R6M',  '컨택건수_리볼빙_TM_R6M',  
'컨택건수_CA_TM_R6M', '컨택건수_이용유도_TM_R6M',  '컨택건수_신용발급_TM_R6M',  '컨택건수_부대서비스_TM_R6M', '컨택건수_포인트소진_TM_R6M', 
'컨택건수_보험_TM_R6M' , '컨택건수_카드론_LMS_R6M', '컨택건수_CA_LMS_R6M', '컨택건수_리볼빙_LMS_R6M', '컨택건수_이용유도_LMS_R6M', '컨택건수_카드론_EM_R6M' , 
'컨택건수_CA_EM_R6M' ,'컨택건수_리볼빙_EM_R6M',  '컨택건수_이용유도_EM_R6M',  '컨택건수_카드론_청구서_R6M', '컨택건수_CA_청구서_R6M' , 
'컨택건수_리볼빙_청구서_R6M', '컨택건수_이용유도_청구서_R6M', '컨택건수_카드론_인터넷_R6M', '컨택건수_CA_인터넷_R6M' , '컨택건수_리볼빙_인터넷_R6M', 
'컨택건수_채권_R6M' , '컨택건수_FDS_R6M', '캠페인접촉건수_R12M', '접촉후경과월_R12M',  '보험콜대상횟수_R12M', '보험콜통화횟수_R12M', '보험콜배정후경과월_R12M',
'보험콜통화후경과월_R12M']

# 고객구분이 연속인 사람(너무 많으면 Memory부족 문제가 생겨서 5.5만명으로 제한)과 간헐인 사람
df1 = df.loc[df['고객구분'] == '21.Active_연속'].sample(n = 55000, random_state = 42)
df2 = df.loc[df['고객구분'] == '22.Active_간헐']

In [18]:
df[profile3].columns[df[profile3].dtypes != np.int32]

Index([], dtype='object')

### 1-1. 소비패턴 고객 네트워크

In [14]:
# 1. 소비패턴 고객 네트워크
# (1) 코사인 유사도 데이터프레임
df_network1 = pd.DataFrame(np.dot(df1[profile1], df2[profile1].T), index = df1[profile1].index, columns = df2[profile1].index)
df_network1.index.name = 'Active_연속_번호'
df_network1.columns.name = 'Active_간헐_번호'

df_network1 = df_network1.div(df1[profile1].apply(lambda x : np.linalg.norm(x), axis = 1), axis = 0)
df_network1 = df_network1.div(df2[profile1].apply(lambda x : np.linalg.norm(x), axis = 1), axis = 1)
df_network1 = df_network1.astype(np.float32)

In [15]:
df_network1

Active_간헐_번호,29,31,33,35,46,49,54,57,60,69,...,299903,299909,299921,299925,299933,299956,299967,299975,299989,299996
Active_연속_번호,,,,,,,,,,,,,,,,,,,,,
159882,0.002233,0.001634,0.000000,-0.056044,0.000000,-0.030567,0.000000,0.004788,-0.027383,-0.003827,...,0.017449,0.000000,0.000256,0.024139,0.000000,0.000000,NaN,0.000000,0.015981,0.000000
50633,0.104742,0.000000,0.927173,0.000000,0.973329,0.036568,0.000000,0.023226,0.000000,0.000000,...,0.000000,0.000596,0.000000,0.000000,0.994135,0.000000,NaN,0.486664,0.000000,0.994135
195274,0.002843,0.002374,0.051669,-0.032276,-0.012123,-0.000131,0.010348,0.000772,0.009154,-0.005590,...,0.003891,0.000257,-0.000854,0.037390,0.058573,0.009531,NaN,0.010908,0.053732,0.058573
13202,0.004129,0.000000,0.006622,0.001453,0.008111,0.031739,0.000000,0.000000,0.010827,0.011088,...,0.000000,0.000000,0.003760,0.044199,0.007647,0.000000,NaN,0.004055,0.029261,0.007647
208687,-0.002449,0.013063,0.018041,0.021887,0.000000,0.018047,0.000000,0.003164,0.019160,0.000000,...,0.104881,0.000162,-0.029072,0.000000,0.010416,0.000000,NaN,0.000000,0.000000,0.010416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102008,-0.000204,-0.000124,0.702724,-0.007154,-0.010006,0.001801,0.000000,0.000761,0.004612,0.000000,...,0.002636,0.000193,0.000864,0.009723,-0.143431,-0.000936,NaN,0.001579,-0.021472,-0.143431
211539,0.000747,0.000702,0.006501,-0.002466,0.006746,0.003845,0.000000,0.001443,0.000726,-0.000946,...,0.002084,0.000015,-0.001301,0.003010,0.006933,0.000162,NaN,0.003373,-0.011406,0.006933
624,0.001055,0.000000,0.284551,0.087062,0.036540,-0.033599,0.000000,-0.000702,0.008785,0.004377,...,0.021253,0.000460,0.005631,0.022569,0.286108,0.000000,NaN,0.000006,0.014941,0.286108
226540,-0.001228,0.001242,0.092844,0.006831,-0.023048,0.021947,0.014912,-0.003874,-0.025686,-0.003946,...,0.011299,-0.000159,0.003012,0.061066,0.093958,0.000000,NaN,-0.022458,0.040427,0.093958
132275,-0.002249,0.000000,0.209775,0.147254,0.061692,0.068670,0.000000,-0.006077,-0.064142,0.000000,...,0.002883,0.000017,-0.007746,0.000000,0.242227,0.000000,NaN,0.029543,0.000000,0.242227

In [16]:
# 1. 소비패턴 고객 네트워크
# (2) 코사인 유사도를 바탕으로 22.Active_간헐 고객들마다 21.Active_연속인 고객들 중 가장 유사한 고객 찾기
df_network1_res = df_network1.apply(lambda x : x.argmax()).astype(np.int32)

In [17]:
df_network1_res

Active_간헐_번호
29        23126
31         2762
33         4494
35         9621
46         1293
          ...
299956     2184
299967       -1
299975    15848
299989    21216
299996     2299
Length: 29035, dtype: int32

In [18]:
# 1. 소비패턴 고객 네트워크
# 소비패턴 프로파일 네트워크에서 벡터의 크기가 0(즉, 이용금액이 전부 0)이라서 패턴을 알 수 없는 간헐 고객의 수
df_network1_res[df_network1_res < 0]

Active_간헐_번호
279      -1
316      -1
323      -1
424      -1
463      -1
         ..
299673   -1
299691   -1
299873   -1
299890   -1
299967   -1
Length: 2753, dtype: int32

In [19]:
# 소비패턴 프로파일 네트워크에서 벡터의 크기가 0(즉, 이용금액이 전부 0)이라서 패턴을 알 수 없는 간헐 고객의 예시
df.loc[279, profile1]

이용금액_요식         0
이용금액_의료         0
이용금액_납부         0
이용금액_교육         0
이용금액_사교활동       0
이용금액_일상생활       0
이용금액_해외         0
쇼핑_백화점_이용금액     0
쇼핑_마트_이용금액      0
쇼핑_슈퍼마켓_이용금액    0
쇼핑_편의점_이용금액     0
쇼핑_아울렛_이용금액     0
쇼핑_온라인_이용금액     0
쇼핑_기타_이용금액      0
교통_주유이용금액       0
교통_정비이용금액       0
교통_통행료이용금액      0
교통_버스지하철이용금액    0
교통_택시이용금액       0
교통_철도버스이용금액     0
여유_운동이용금액       0
여유_Pet이용금액      0
여유_공연이용금액       0
여유_공원이용금액       0
여유_숙박이용금액       0
여유_여행이용금액       0
여유_항공이용금액       0
여유_기타이용금액       0
납부_통신비이용금액      0
납부_관리비이용금액      0
납부_가스전기료이용금액    0
납부_보험료이용금액      0
납부_유선방송이용금액     0
납부_건강연금이용금액     0
납부_기타이용금액       0
RP금액_B0M        0
Name: 279, dtype: object

### 1-2. 거래성향 고객 네트워크

In [20]:
# 2. 거래성향 고객 네트워크
# (1) 코사인 유사도 데이터프레임
df1_eh = pd.get_dummies(data = df1[profile2], columns = ['연회비청구구분_B0M'], dtype = np.int64)
df2_eh = pd.get_dummies(data = df2[profile2], columns = ['연회비청구구분_B0M'], dtype = np.int64)
df_network2 = pd.DataFrame(np.dot(df1_eh, df2_eh.T), index = df1_eh.index, columns = df2_eh.index)
df_network2.index.name = 'Active_연속_번호'
df_network2.columns.name = 'Active_간헐_번호'

df_network2 = df_network2.div(df1_eh.apply(lambda x : np.linalg.norm(x), axis = 1), axis = 0)
df_network2 = df_network2.div(df2_eh.apply(lambda x : np.linalg.norm(x), axis = 1), axis = 1)
df_network2 = df_network2.astype(np.float32)

In [21]:
df_network2

Active_간헐_번호,29,31,33,35,46,49,54,57,60,69,...,299903,299909,299921,299925,299933,299956,299967,299975,299989,299996
Active_연속_번호,,,,,,,,,,,,,,,,,,,,,
159882,0.814224,0.966323,0.960219,0.966913,0.961036,0.965394,0.970651,0.973614,0.961757,0.970860,...,0.979436,0.998166,0.981719,0.279535,0.960152,0.933681,0.980478,0.960956,0.962041,0.960215
50633,0.619553,0.999736,1.000000,0.999681,0.999995,0.999812,0.999186,0.998596,0.999983,0.999151,...,0.996796,0.941486,0.995797,0.000092,1.000000,0.796413,0.996364,0.999996,0.999977,1.000000
195274,0.888751,0.919698,0.910529,0.920601,0.911740,0.918284,0.926385,0.931073,0.912813,0.926714,...,0.940610,0.996585,0.944499,0.413717,0.910430,0.975235,0.942373,0.911622,0.913238,0.910523
13202,0.848508,0.948595,0.941150,0.949322,0.942140,0.947454,0.953954,0.957671,0.943014,0.954216,...,0.965114,0.999999,0.968097,0.338271,0.941069,0.954006,0.966470,0.942043,0.943360,0.941145
208687,0.635023,0.999995,0.999807,0.999985,0.999860,1.000000,0.999790,0.999451,0.999901,0.999772,...,0.998188,0.947995,0.997420,0.019956,0.999802,0.808269,0.997860,0.999855,0.999915,0.999807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102008,0.963319,0.820801,0.807595,0.822115,0.809325,0.818748,0.830608,0.837583,0.810861,0.831094,...,0.852068,0.959052,0.858105,0.589978,0.807454,0.999827,0.854794,0.809156,0.811469,0.807587
211539,0.990277,0.738400,0.722868,0.739951,0.724896,0.735976,0.750012,0.758316,0.726698,0.750589,...,0.775688,0.913384,0.782985,0.691203,0.722702,0.993554,0.778979,0.724697,0.727412,0.722858
624,0.876861,0.929326,0.920688,0.930174,0.921829,0.927997,0.935605,0.939994,0.922841,0.935913,...,0.948886,0.998344,0.952497,0.390550,0.920593,0.969317,0.950524,0.921718,0.923242,0.920681
226540,0.845757,0.950221,0.942887,0.950936,0.943862,0.949097,0.955494,0.959148,0.944724,0.955751,...,0.966456,0.999992,0.969381,0.333395,0.942807,0.952441,0.967786,0.943767,0.945065,0.942882
132275,0.859816,0.941477,0.933567,0.942252,0.934616,0.940263,0.947195,0.951174,0.935544,0.947475,...,0.959181,0.999729,0.962409,0.358665,0.933481,0.960297,0.960647,0.934513,0.935911,0.933562

In [22]:
# 2. 거래성향 고객 네트워크
# (2) 코사인 유사도를 바탕으로 22.Active_간헐 고객들마다 21.Active_연속인 고객들 중 가장 유사한 고객 찾기
df_network2_res = df_network2.apply(lambda x : x.argmax()).astype(np.int32)

In [23]:
df_network2_res

Active_간헐_번호
29         4763
31         4368
33           28
35          848
46          669
          ...
299956    15065
299967     3313
299975      669
299989     1697
299996        1
Length: 29035, dtype: int32

In [24]:
# 2. 거래성향 고객 네트워크
# 거래성향 프로파일 네트워크에서 벡터의 크기가 0이라서 패턴을 알 수 없는 간헐 고객의 수
df_network2_res[df_network2_res < 0]

Series([], dtype: int32)

### 1-3. 인구통계학 고객 네트워크

In [25]:
# 3. 인구통계학 고객 네트워크
# df1(21.Active_연속)의 자격구분상세에 없는 고유값 찾기
set(pd.get_dummies(data = df['자격구분상세'], dtype = np.int64).columns) - set(pd.get_dummies(data = df1['자격구분상세'], dtype = np.int64).columns)

set()

In [26]:
# 3. 인구통계학 고객 네트워크
# (1) 코사인 유사도 데이터프레임
df1_eh = pd.get_dummies(data = df1[profile3], columns = ['자격구분상세'], dtype = np.int64)
df2_eh = pd.get_dummies(data = df2[profile3], columns = ['자격구분상세'], dtype = np.int64)
df_network3 = pd.DataFrame(np.dot(df1_eh, df2_eh.T), index = df1_eh.index, columns = df2_eh.index)
df_network3.index.name = 'Active_연속_번호'
df_network3.columns.name = 'Active_간헐_번호'

df_network3 = df_network3.div(df1_eh.apply(lambda x : np.linalg.norm(x), axis = 1), axis = 0)
df_network3 = df_network3.div(df2_eh.apply(lambda x : np.linalg.norm(x), axis = 1), axis = 1)
df_network3 = df_network3.astype(np.float32)

In [27]:
df_network3

Active_간헐_번호,29,31,33,35,46,49,54,57,60,69,...,299903,299909,299921,299925,299933,299956,299967,299975,299989,299996
Active_연속_번호,,,,,,,,,,,,,,,,,,,,,
159882,0.999217,0.999223,0.999219,0.999937,0.999214,0.999496,0.999963,0.999512,0.999227,0.999954,...,0.999224,0.999193,0.999206,0.999696,0.999208,0.999226,0.999197,0.999193,0.999398,0.999502
50633,0.999598,0.999088,0.999918,0.999216,0.999507,0.999550,0.999677,0.999591,0.999560,0.999270,...,0.999542,0.999456,0.999606,0.999588,0.999492,0.999579,0.999609,0.999456,0.999362,0.999760
195274,0.999319,0.999212,0.999321,0.999306,0.999297,0.999526,0.999585,0.999548,0.999318,0.999344,...,0.999313,0.999269,0.999313,0.999322,0.999863,0.999322,0.999306,0.999269,0.999409,0.999577
13202,0.999376,0.999200,0.999376,0.999300,0.999342,0.999539,0.999610,0.999565,0.999368,0.999341,...,0.999361,0.999310,0.999371,0.999376,0.999333,0.999375,0.999366,0.999310,0.999410,0.999913
208687,0.999665,0.998545,0.999656,0.998723,0.999469,0.999230,0.999462,0.999655,0.999957,0.998801,...,0.999534,0.999383,0.999695,0.999636,0.999443,0.999612,0.999712,0.999383,0.998936,0.999681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102008,0.999678,0.998518,0.999669,0.998699,0.999475,0.999217,0.999456,0.999290,0.999579,0.998778,...,0.999543,0.999387,0.999710,0.999648,0.999448,0.999623,0.999728,0.999387,0.998917,0.999684
211539,0.999416,0.998702,0.999411,0.998846,0.999289,0.999238,0.999400,0.999863,0.999986,0.998908,...,0.999335,0.999227,0.999431,0.999399,0.999271,0.999385,0.999439,0.999227,0.999015,0.999528
624,0.999668,0.999019,0.999659,0.998717,0.999471,0.999227,0.999461,0.999298,0.999572,0.998795,...,0.999537,0.999384,0.999699,0.999639,0.999445,0.999615,0.999717,0.999384,0.998931,0.999682
226540,0.999104,0.998682,0.999102,0.998802,0.999028,0.999876,0.999224,0.999149,0.999074,0.998852,...,0.999059,0.998982,0.999109,0.999097,0.999014,0.999090,0.999110,0.999965,0.998939,0.999287
132275,0.999688,0.998492,0.999972,0.998676,0.999479,0.999204,0.999449,0.999279,0.999585,0.998756,...,0.999548,0.999388,0.999721,0.999656,0.999451,0.999631,0.999740,0.999388,0.998897,0.999685

In [28]:
# 3. 인구통계학 고객 네트워크
# (2) 코사인 유사도를 바탕으로 22.Active_간헐 고객들마다 21.Active_연속인 고객들 중 가장 유사한 고객 찾기
df_network3_res = df_network3.apply(lambda x : x.argmax()).astype(np.int32)

In [29]:
df_network3_res

Active_간헐_번호
29        25914
31         2301
33          468
35          669
46        29279
          ...
299956      372
299967      111
299975      366
299989     3035
299996     8348
Length: 29035, dtype: int32

In [30]:
# 3. 인구통계학 고객 네트워크
# 인구통계학 프로파일 네트워크에서 벡터의 크기가 0이라서 패턴을 알 수 없는 간헐 고객의 수
df_network3_res[df_network3_res < 0]

Series([], dtype: int32)

## 2. 통합 네트워크 계산

In [31]:
# 3개의 고객 네트워크(소비패턴 고객 네트워크, 거래성향 고객 네트워크, 인구통계학 고객 네트워크)를 단순평균으로 통합 네트워크 계산
res = (df_network1 + df_network2 + df_network3) / 3

In [32]:
# 유사도가 가장 높은 순서대로 k명의 이웃 추출
k = 100
df_rc = res.apply(lambda x : x.sort_values(ascending = False)[:k].index)
df_rc.index.name = 'Active_연속_번호'
df_rc = df_rc.astype(np.int32)

In [33]:
df_rc

Active_간헐_번호,29,31,33,35,46,49,54,57,60,69,...,299903,299909,299921,299925,299933,299956,299967,299975,299989,299996
Active_연속_번호,,,,,,,,,,,,,,,,,,,,,
0,50803,138255,294908,169996,85358,162736,16853,144610,210942,222392,...,210198,243692,212674,229014,153493,115309,159882,13282,115625,51848
1,128671,112899,43299,9200,229232,107945,187814,272780,271935,209221,...,263687,115956,151848,208507,38291,100510,50633,83241,260342,159480
2,51713,198209,275356,280047,293564,49260,291174,186041,72092,8890,...,255079,94605,51041,223112,159480,92181,195274,257213,214082,167521
3,176575,268784,282161,200783,146983,72161,265463,169003,248073,130356,...,193578,106720,169784,153978,83628,242006,13202,263900,220620,183989
4,243850,127629,62969,146728,140983,140662,85567,119389,98475,61589,...,24855,216194,148742,85078,32358,115625,208687,66415,115309,69938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,109620,136396,167919,192284,45648,120895,161683,291242,108843,71760,...,226691,17175,15678,201486,262904,135207,139034,215832,60469,120153
96,52311,49464,25645,39213,296333,240267,178987,68615,231031,108376,...,231223,142944,286941,26228,113484,283375,198719,235642,170765,31182
97,163394,147018,84996,29398,149923,65765,83824,90403,239533,66876,...,159631,22548,140530,55347,232144,144127,252269,18919,172533,44340
98,72395,208139,7959,127302,161399,146898,234181,100107,199948,37016,...,237225,152075,203282,200095,151764,133070,65744,259921,199039,299765
99,259095,199698,267634,144610,283597,207098,220937,271305,107185,25531,...,270167,115824,179002,263737,271697,5485,269205,235141,147643,234461

In [34]:
# 유사도가 높은 고객들의 1순위카드ID 확인
df_rc_res = df_rc.applymap(lambda x : df.loc[x, '_1순위카드ID'])
df_rc_res.index.name = 'Active_연속_1순위카드ID'
df_rc_res = df_rc_res.astype(np.int32)

In [35]:
df_rc_res

Active_간헐_번호,29,31,33,35,46,49,54,57,60,69,...,299903,299909,299921,299925,299933,299956,299967,299975,299989,299996
Active_연속_1순위카드ID,,,,,,,,,,,,,,,,,,,,,
0,797,101,1514,487,1443,1561,492,1536,156,1739,...,136,488,1555,136,1514,156,1515,216,1536,98
1,489,509,1514,1555,319,1536,1564,355,324,1401,...,98,270,834,136,136,1050,1037,292,1561,1489
2,313,1558,1567,1718,114,1558,348,210,785,1739,...,1008,1014,328,1142,1489,487,156,785,111,1514
3,126,1458,1514,320,124,269,492,1377,135,100,...,1401,279,1555,1561,861,1605,308,470,136,1514
4,136,1353,260,1564,136,1555,1561,785,269,1739,...,311,126,1561,1355,1476,1536,1145,322,156,810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,425,1376,126,758,1077,136,1739,314,315,1739,...,156,311,136,299,492,297,1068,285,1704,811
96,482,136,1147,1558,1077,136,270,931,491,810,...,216,163,1037,216,1077,218,101,444,244,164
97,1555,136,1567,1514,510,1493,162,161,202,1739,...,136,124,1558,1536,870,339,285,131,1561,1564
98,1731,135,1042,838,229,470,311,1567,1561,1739,...,1077,1564,1037,1364,870,1147,758,321,1414,1077
99,339,301,1561,1536,1561,1536,1739,1718,1141,1739,...,332,116,312,135,321,1491,482,203,311,136

In [36]:
# 각 간헐 고객의 1순위카드ID가 유사도가 높은 연속인 k명의 고객들의 1순위카드ID 종류에 포함되어있는지 확인
df_rc_res.apply(lambda x : (x == df.loc[x.name, '_1순위카드ID']).any())

Active_간헐_번호
29        False
31        False
33         True
35         True
46        False
          ...
299956    False
299967    False
299975     True
299989     True
299996     True
Length: 29035, dtype: bool

In [37]:
# 1순위카드ID가 유사도가 높은 연속인 k명의 고객들의 1순위카드ID 종류에 포함되어있는 간헐 고객의 수
df_rc_res.apply(lambda x : (x == df.loc[x.name, '_1순위카드ID']).any()).sum()

15608

In [39]:
15608 / 29035

0.5375581195109351

In [42]:
df[['이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론']].min(axis = 1).value_counts()

0     243642
12     20786
1       8546
2       5338
3       4252
4       3122
5       2769
6       2466
7       2272
8       1903
9       1721
10      1644
11      1539
dtype: int64

In [45]:
df['고객구분'].unique()

array(['21.Active_연속', '34.휴면_9M+', '31.휴면_3M', '33.휴면_9M-',
       '22.Active_간헐', '32.휴면_6M-'], dtype=object)

In [46]:
df.loc[((df['이용금액_신용_R12M'] + df['이용금액_체크_R12M'] + df['이용금액_카드론_R12M'] + df['이용금액_업종기준']) == 0) & (df['고객구분'].isin(['34.휴면_9M+', '31.휴면_3M', '33.휴면_9M-','32.휴면_6M-']))]

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
8,9QifHQRq,2,38,1,20120822,77,0,0,0,0,...,1,1,1,1,0,0,0,12,12,34.휴면_9M+
19,LDhsZIdO,2,54,0,20140218,59,0,0,1,1,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
20,Cr9MNwh4,1,45,1,20141210,49,1,0,0,0,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
34,WEBIgoGW,2,31,1,20180504,8,0,0,0,0,...,4,4,3,2,0,0,0,12,12,33.휴면_9M-
36,gPVkhN5u,2,54,1,20140911,52,1,0,0,0,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299927,TIxVB8T5,1,46,1,20160106,36,1,0,0,0,...,2,2,1,9,2,2,8,5,5,34.휴면_9M+
299929,pL0GlDwb,2,50,1,20121018,75,1,0,1,1,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
299934,U8WhpnqL,1,47,1,20170109,24,1,1,0,0,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
299935,j5iYH7GR,1,45,1,19990203,239,0,0,0,1,...,2,2,1,1,0,0,0,12,12,34.휴면_9M+
299984,l9VYsvPJ,1,34,1,20180328,10,1,0,0,0,...,2,1,1,8,0,0,0,12,12,34.휴면_9M+